@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CRUD with SPA, ASP.NET Web API and Angular.js</p>
<div>
    <p>This angular js appication uses the following technology 
</p>
    <p>AngularJS, WebApi, Twitter-Bootstrap, SPA and SQL-SERVER Data First</p>
    <p>SQL Script is attached or can be ganarated on CustomerModel entity model</p>

    <p>I have'nt design much on front end becouse of time</p>
    <p>I have try to comment in all code for clarity</p>
</div>
