@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My Details<br />
    Nkanyiso Shangase, nkanyisoshuku@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    083 8658 919
</address>

<address>
    <strong>Support:</strong>   <a href="nkanyisoshuku@gmail.com">nkanyisoshuku@gmail.com</a><br />
   
</address>